<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    {% with messages = get_flashed_messages() %}

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-around">
        <h1>Edit {{single_recipe.name}}!</h1>
        <a href="/recipes">back to recipes</a>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <form class="mx-auto w-75 p-5" method="post" action="/recipes/edit/{{single_recipe.id}}/submit_edit">
            <div class="d-flex">
                <div>
                    <div class="form-group d-flex align-items-center p-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" value="{{single_recipe.name}}">

                    </div>
                    <div class="form-group d-flex align-items-center p-3">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description"
                            value="{{single_recipe.description}}">
                    </div>
                    <div class="form-group d-flex align-items-center p-3">
                        <label for="instructions">Instructions</label>
                        <input type="text" class="form-control" name="instructions"
                            value="{{single_recipe.instructions}}">
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column">
                        <label for="date_cooked">Date Cooked</label>
                        <input type="date" name="date_cooked" value="{{single_recipe.date_cooked}}">
                    </div>
                    <div class="p-5">
                        <div class="form-check">
                            <p>Under 30 minutes?</p>
                            <input class="form-check-input" type="radio" name="under_cert_time" value=1>
                            <label class="form-check-label" for="under_cert_time">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="under_cert_time" value=0>
                            <label class="form-check-label" for="under_cert_time">
                                No
                            </label>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>

</html>